<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.justcs.mapper.ConfTitleRecordMapper" >
  <resultMap id="BaseResultMap" type="com.justcs.entity.ConfTitleRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="speakerid" property="speakerid" jdbcType="CHAR" />
    <result column="speakername" property="speakername" jdbcType="CHAR" />
    <result column="speaktime" property="speaktime" jdbcType="TIMESTAMP" />
    <result column="conftitleid" property="conftitleid" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.justcs.entity.ConfTitleRecord" extends="BaseResultMap" >
    <result column="speaking" property="speaking" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, speakerid, speakername, speaktime, conftitleid
  </sql>
  <sql id="Blob_Column_List" >
    speaking
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from conftitlerecord
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from conftitlerecord
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.justcs.entity.ConfTitleRecord" >
    insert into conftitlerecord (id, speakerid, speakername, 
      speaktime, conftitleid, speaking
      )
    values (#{id,jdbcType=INTEGER}, #{speakerid,jdbcType=CHAR}, #{speakername,jdbcType=CHAR}, 
      #{speaktime,jdbcType=TIMESTAMP}, #{conftitleid,jdbcType=INTEGER}, #{speaking,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.justcs.entity.ConfTitleRecord" keyProperty="id" useGeneratedKeys="true">
    insert into conftitlerecord
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="speakerid != null" >
        speakerid,
      </if>
      <if test="speakername != null" >
        speakername,
      </if>
      <if test="speaktime != null" >
        speaktime,
      </if>
      <if test="conftitleid != null" >
        conftitleid,
      </if>
      <if test="speaking != null" >
        speaking,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="speakerid != null" >
        #{speakerid,jdbcType=CHAR},
      </if>
      <if test="speakername != null" >
        #{speakername,jdbcType=CHAR},
      </if>
      <if test="speaktime != null" >
        #{speaktime,jdbcType=TIMESTAMP},
      </if>
      <if test="conftitleid != null" >
        #{conftitleid,jdbcType=INTEGER},
      </if>
      <if test="speaking != null" >
        #{speaking,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.justcs.entity.ConfTitleRecord" >
    update conftitlerecord
    <set >
      <if test="speakerid != null" >
        speakerid = #{speakerid,jdbcType=CHAR},
      </if>
      <if test="speakername != null" >
        speakername = #{speakername,jdbcType=CHAR},
      </if>
      <if test="speaktime != null" >
        speaktime = #{speaktime,jdbcType=TIMESTAMP},
      </if>
      <if test="conftitleid != null" >
        conftitleid = #{conftitleid,jdbcType=INTEGER},
      </if>
      <if test="speaking != null" >
        speaking = #{speaking,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.justcs.entity.ConfTitleRecord" >
    update conftitlerecord
    set speakerid = #{speakerid,jdbcType=CHAR},
      speakername = #{speakername,jdbcType=CHAR},
      speaktime = #{speaktime,jdbcType=TIMESTAMP},
      conftitleid = #{conftitleid,jdbcType=INTEGER},
      speaking = #{speaking,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.justcs.entity.ConfTitleRecord" >
    update conftitlerecord
    set speakerid = #{speakerid,jdbcType=CHAR},
      speakername = #{speakername,jdbcType=CHAR},
      speaktime = #{speaktime,jdbcType=TIMESTAMP},
      conftitleid = #{conftitleid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>