<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.justcs.mapper.ConfAttributesMapper" >
  <resultMap id="BaseResultMap" type="com.justcs.entity.ConfAttributes" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="attrname" property="attrname" jdbcType="CHAR" />
    <result column="attrdes" property="attrdes" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, attrname, attrdes
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from confattributes
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from confattributes
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.justcs.entity.ConfAttributes" >
    insert into confattributes (id, attrname, attrdes
      )
    values (#{id,jdbcType=INTEGER}, #{attrname,jdbcType=CHAR}, #{attrdes,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.justcs.entity.ConfAttributes" >
    insert into confattributes
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="attrname != null" >
        attrname,
      </if>
      <if test="attrdes != null" >
        attrdes,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="attrname != null" >
        #{attrname,jdbcType=CHAR},
      </if>
      <if test="attrdes != null" >
        #{attrdes,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.justcs.entity.ConfAttributes" >
    update confattributes
    <set >
      <if test="attrname != null" >
        attrname = #{attrname,jdbcType=CHAR},
      </if>
      <if test="attrdes != null" >
        attrdes = #{attrdes,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.justcs.entity.ConfAttributes" >
    update confattributes
    set attrname = #{attrname,jdbcType=CHAR},
      attrdes = #{attrdes,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>