<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.justcs.mapper.ConfTitleMapper" >
  <resultMap id="BaseResultMap" type="com.justcs.entity.ConfTitle" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="conftitlecnt" property="conftitlecnt" jdbcType="VARCHAR" />
    <result column="conclusion" property="conclusion" jdbcType="VARCHAR" />
    <result column="confid" property="confid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, conftitlecnt, confid, conclusion
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from conftitle
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from conftitle
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.justcs.entity.ConfTitle" >
    insert into conftitle (id, conftitlecnt, confid
      )
    values (#{id,jdbcType=INTEGER}, #{conftitlecnt,jdbcType=VARCHAR}, #{confid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.justcs.entity.ConfTitle" useGeneratedKeys="true" keyProperty="id">
    insert into conftitle
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="conftitlecnt != null" >
        conftitlecnt,
      </if>
      <if test="confid != null" >
        confid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="conftitlecnt != null" >
        #{conftitlecnt,jdbcType=VARCHAR},
      </if>
      <if test="confid != null" >
        #{confid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.justcs.entity.ConfTitle" >
    update conftitle
    <set >
      <if test="conftitlecnt != null" >
        conftitlecnt = #{conftitlecnt,jdbcType=VARCHAR},
      </if>
      <if test="confid != null" >
        confid = #{confid,jdbcType=INTEGER},
      </if>
      <if test="conclusion != null">
        conclusion =#{conclusion,jdbcType=VARCHAR}
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.justcs.entity.ConfTitle" >
    update conftitle
    set conftitlecnt = #{conftitlecnt,jdbcType=VARCHAR},
      confid = #{confid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>