<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.justcs.mapper.DepartmentMapper">
    <resultMap id="BaseResultMap" type="com.justcs.entity.Department">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="departnum" property="departnum" jdbcType="CHAR"/>
        <result column="departname" property="departname" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, departnum, departname
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from department
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from department
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.justcs.entity.Department">
    insert into department (id, departnum, departname
      )
    values (#{id,jdbcType=INTEGER}, #{departnum,jdbcType=CHAR}, #{departname,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.justcs.entity.Department">
        insert into department
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="departnum != null">
                departnum,
            </if>
            <if test="departname != null">
                departname,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="departnum != null">
                #{departnum,jdbcType=CHAR},
            </if>
            <if test="departname != null">
                #{departname,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.justcs.entity.Department">
        update department
        <set>
            <if test="departnum != null">
                departnum = #{departnum,jdbcType=CHAR},
            </if>
            <if test="departname != null">
                departname = #{departname,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.justcs.entity.Department">
    update department
    set departnum = #{departnum,jdbcType=CHAR},
      departname = #{departname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>